<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build &amp; Install VICE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C7938ED179F210800E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7938F9179F21AF00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C79391B179F225F00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C79392C179F22AA00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C79393C179F232700E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793956179F23FB00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C79396B179F246200E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C79399A179F24E200E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7939B4179F254900E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7939CC179F25C000E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7939EA179F264C00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7939FD179F26A000E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A17179F26ED00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A24179F270C00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A38179F273C00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A4B179F277700E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A5A179F27C500E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A62179F27D000E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A6A179F27DC00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A72179F27E600E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A7A179F27F200E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A82179F27FD00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A8A179F280600E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A92179F281000E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793A9A179F281A00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AA2179F283100E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AAA179F283C00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AB2179F284500E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793ABA179F284D00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AC2179F285600E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793ACA179F286200E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AD2179F286A00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793ADA179F287200E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AE2179F287900E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AEA179F288000E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AF2179F288600E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793AFA179F288F00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B02179F289800E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B0A179F28A000E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B12179F28A800E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B1A179F28B100E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B22179F28BA00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B2A179F28C300E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B32179F28CC00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B3A179F28D300E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B42179F28DF00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B4A179F28E700E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B52179F28EC00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B5A179F28F300E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B62179F291C00E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B6A179F292400E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C793B72179F293600E4E906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D8625179F0F4500DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D863C179F0F8200DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D865D179F11A400DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D868D179F128200DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D86A7179F133F00DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D86D8179F1D4500DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9D86F5179F1EC100DA2614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CB9D29E179D26DE0067BB9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CB9D2B8179D28A80067BB9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBCB8C9179FF92F00F03775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBCB8DB17A0046D00F03775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
